.main.container {
  width: 400px;
}

.header-link a {
  color: inherit;
  text-decoration: underline;
}
.header-link a:hover {
  color: revert;
  text-decoration: underline;
}

.db-last-updated-imported-container {
  color: #808080;
  font-size: 80%;
}
.db-last-imported {
  margin-top: -10px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 7px;
}

#settingsButton {
  margin-top: 4px;
  margin-left: 18px;
}
#settingsButton img {
  width: 26px;
  height: 26px;
}
#settingsButton img:hover {
  filter: brightness(100);
  cursor: pointer;
}
