.header_IS_link a {
  color: inherit;
  text-decoration: underline;
}

.header_IS_link a:hover {
  color: revert; /* Change the color back to the inherited value on hover. For some reasons VSCODE say: "[CSSTree] Invalid value for `color` property". Same thing for 'revert-layer'. */
  text-decoration: underline;
}

.button-container {
  display: flex;
  padding-bottom: 7px;
}

#reloadButton {
  margin-left: 74px;
}

#settingsButton {
  margin-top: 4px;
  margin-left: 18px;
}

#settingsButton img {
  width: 26px;
  height: 26px;
}

#settingsButton:hover img {
  filter: brightness(100);
  cursor: pointer;
}
